<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><span th:text="${email}"></span>님의 마이페이지
        <ul>
            <li>친구 기능</li>
            <li><a href="/friends/">친구 페이지</a></li>
        </ul>
    </li>
</ul>
<ul>
    <li>태그 기능</li>
    <li><a href="/myTag/generateTag">태그 추가 페이지</a></li>
    <li><span th:text="${email}"></span>님의 보유 태그</li>
    <li th:each="memberTags : ${memberTag.tags}" style="display: inline-block; margin-right: 10px;">
        <span th:text="${memberTags}"></span>
    </li>
</ul>
<br>

<h3>요청중인 친구 목록</h3>
<ul>
    <li th:each="requestEmail : ${requestFriendForm.requestEmail}" th:text="${requestEmail}"></li>
</ul>

<h3>친구추가 대기중인 친구 목록</h3>
<ul>
    <li th:each="waitingEmail : ${waitingFriendForm.waitingEmail}">
        <span th:text="${waitingEmail}"></span>

        <!-- 친구 요청 버튼 -->
        <form th:action="@{/friends/acceptFriend/{email}(email=${waitingEmail})}" method="get">
            <input type="hidden" name="requestedEmails" th:value="${waitingEmail}">
            <button type="submit">친구 수락</button>
        </form>

        <form th:action="@{/friends/denyFriend/{email}(email=${waitingEmail})}" method="get">
            <input type="hidden" name="requestedEmails" th:value="${waitingEmail}">
            <button type="submit">친구 거절</button>
        </form>
    </li>
</ul>

<h3>친구 목록</h3>
<ul>
    <li th:each="friendList : ${friendListForm.friendList}">
        <span th:text="${friendList}"></span>

        <form th:action="@{/friends/deleteFriend/{email}(email=${friendList})}" method="get">
            <input type="hidden" name="deleteFriend" th:value="${friendList}">
            <button type="submit">친구 삭제</button>
        </form>
    </li>
</ul>

</body>
</html>