<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>

<h1>게시글 수정</h1>

<form th:action="@{/posts/{postId}/edit(postId=${postRequest.count})}" th:object="${postRequest}" method="post">
    <div>
        <label for="category">카테고리:</label>
        <select th:field="*{category}" id="category">
            <option th:each="category : ${categorys}" th:value="${category.getCode()}" th:text="${category.getDisplayName()}"></option>
        </select>
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="fieldError">Invalid category</p>
        <br>
    </div>

    <div>
        <label for="thumbnail">제목:</label>
        <input type="text" id="thumbnail" name="thumbnail" th:field="*{thumbnail}" required>
        <span th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}" >Invalid thumbnail</span>
        <br>
    </div>

    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" th:field="*{content}" required></textarea>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" >Invalid content</span>
        <br>
    </div>

    <div>
        <label for="tagName">태그:</label>
        <input type="text" id="tagName" name="tagName" th:field="*{tagName}">
        <span th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}" >Invalid tagName</span>
        <br>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>