<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>

<h1>게시글 수정</h1>

<form th:action="@{/posts/{postId}/edit(postId=${postRequest.id})}" th:object="${postRequest}" method="post">
    <div>
        <label for="category">카테고리:</label>
        <select th:field="*{category}" th:value="*{category}" name="category" id="category">
            <option value="">카테고리를선택해주세요</option> <!--선택안할시 값 안들어감-->
            <option value="int">내 취미를 소개합니다</option>
            <option value="gui">취미 가이드</option>
            <option value="spe">나만의 특별한 취미</option>
            <option value="tog">취미를 함께 즐겨요</option>
            <option value="free">자유게시판</option>
            <option value="qna">질문게시판</option>
        </select>
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="fieldError">Invalid category</p>
        <br>
    </div>

    <div>
        <label for="thumbnail">제목:</label>
        <input type="text" id="thumbnail" name="thumbnail" th:field="*{thumbnail}" required>
        <p th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}" class="fieldError">Invalid thumbnail</p>
        <br>
    </div>

    <div>
        <label for="content">내용:</label>
        <textarea id="content" name="content" th:field="*{content}" required></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Invalid content</p>
        <br>
    </div>

    <div>
        <label for="tagName">태그:</label>
        <input type="text" id="tagName" name="tagName" th:field="*{tagName}">
        <p th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}" class="fieldError">Invalid tagName</p>
        <br>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>