<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>
<h1 th:text ="${singlePost.thumbnail}">제목 입니다.</h1>
<p th:text ="${singlePost.author}">글쓴이가 들어갈 부분입니다.</p>
<p th:text ="${singlePost.content}">내용이 들어갈 부분입니다.</p>
<p th:text ="${singlePost.category}">카테고리가 들어갈 부분입니다.</p>
<p th:text ="${#temporals.format(singlePost.createdAt,'yyyy-MM-dd HH:mm')}">생성일자가 들어갈 부분입니다.</p>
<p th:each="comment : ${singlePost.comments}"></p>
<table>
    <tr th:each="comment : ${singlePost.comments} ">
        <td th:text="${comment.author}"></td>
        <td th:text="${comment.content}"></td>
        <td th:text="${#temporals.format(comment.createdAt,'yyyy-MM-dd HH:mm')}"></td>
    </tr>
</table>
</body>
</html>