<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>유저
        <ul>
            <li>반갑습니다 <span th:text="${member.email}"></span>님</li>
            <li><a href="/myPage/">마이페이지</a></li>
            <li><a href="/members/logout">로그아웃</a></li>
        </ul>
    </li>
    <li>게시글
        <ul>
            <li><a href="/posts/new">게시글 작성</a></li>
            <li><a href="/posts/paging">게시글 전체</a></li>
            <li><a href="/members/logout">게시글 찾기</a></li>
        </ul>
    </li>
</ul>
</body>
</html>